[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
flake8-import-order = "*"
flake8-bugbear = "*"
flake8-docstrings = "*"

[packages]
ortools = "*"
setuptools = "*"
tqdm = "*"
recordclass = "*"

[requires]
python_version = "3.6"
